*{
    margin:0;
    font-family:arial;
    border:border-box;
}

#navbar{
    background-color:#1a1d1de1;
    height:60px;
    display:flex;
    color:white;
    align-items:center;
}
body{
    background-color:#021183;
}
#logo{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:blue;
    width:200px;
    height:45px;
    margin:7.5px;
    border-radius:8px;
}

#otherNav{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:600px;
}

.nav{
    text-decoration:none;
    font-size:20px;
}
#searchNav{
    width:70%;
    display:flex;
    padding:10px;
    border:none;
    margin-left:150px;
}

#searchNAV{
    width:90%;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    font-size:15px;
    border:none;
}
#navButton{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#2680ed;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    font-size:15px;
    cursor:pointer;
    border:none;
    width:120px;
    color:white;
}
#navButton:hover{
    background-color:blue;
}

#heading{
    margin-top:30px;
    margin-left:150px;
    height:80px;
    color:white;
}

#parentTable{
    display:flex;
}
#table{
    border:solid;
    height:500px;
    width:50%;
    color:skyblue;
    margin-left:150px;
    border-radius:4px;
    overflow:hidden;
}

.currency{
    cursor:pointer;
}
.currency:hover{
    color:red;
    text-decoration: underline;
}

#crypto{
    background-color:#1a1d1d;
    height:50px;
    border:solid red 4px;
    border-radius:4px;
}

#crypto tr{
    border:4px solid #1a1d1d;
    border-radius:10px;
}
td{
    font-weight: 550;
    border-bottom:solid black;
}
#insideTable{
    width:100%;
    height:100%;
    border-collapse:collapse;
}