*{
    margin:0;
    font-family:arial;
    border:border-box;
}

#navbar{
    background-color:#1a1d1de1;
    height:60px;
    display:flex;
    color:white;
}

#logo{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:blue;
    width:200px;
    height:45px;
    margin:7.5px;
    border-radius:8px;
}

#otherNav{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width:600px;
}

.nav{
    text-decoration:none;
    font-size:20px;
}
#searchNav{
    width:70%;
    display:flex;
    padding:10px;
    border:none;
    margin-left:150px;
}

#searchNAV{
    width:90%;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    font-size:15px;
    border:none;
}
#navButton{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#2680ed;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    font-size:15px;
    cursor:pointer;
    border:none;
    width:120px;
    color:white;
}
#navButton:hover{
    background-color:blue;
}

#heading{
    margin-top:30px;
    margin-left:150px;
    height:80px;
    border:solid;
}

#parentTable{
    display:flex;
    justify-content:center;
}
#table{
    border:solid;
    height:500px;
    width:80%;
    display:flex;
}
