*{
    padding:0;
    margin:0;
}

body{
    background-color: black;
    /* background-image: url(fox.jpg); */
    /* background-size:covera; */
    height:100vh;
    display:flex;
    align-items: center;
}

img{
    height: 200px;
}

#log-btn{
    text-align: center;
    padding:20px;
    font-size:25px;;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius:6px;
    width:600px;
    height:200px;
    margin-left:450px;
    margin-top:10px;
    background-color:rgba(255, 255, 255, 0.8);
}

#button{
    height:75px;
}

#title{
    margin-top:10px;
}

#not-message{
    color:rgb(228, 65, 65);
}

button{
    height:50px;
    background-color:orange;
    color:white;
    font-size:19px;
    font-weight:600;
    width:250px;
    border-radius:6px;
    border:none;
    margin:20px;
    cursor:pointer;
}

.hover:hover{
    background-color:rgb(173, 19, 19);
}